* {
    scroll-behavior: smooth;
}
body{
    background-color: #2A4646;
}

:any-link{
    text-decoration: none;
    cursor: pointer;
    color: #e0fbfc;
}

nav{
    display: flex;
    align-items: center;
    justify-content:center;
}

ul, li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    margin-right: 1em;
}

main{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    background-color: #d2c1ab;
    border-radius: 22px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e0fbfc;
}

/*About Page*/

#about-us{
    justify-content: center;
    align-items: center;
}

article{
    max-width: 900px;
    padding: 10px;
    text-align: justify;
    margin-top: 20px;
}

#scrollup {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 25px;
    padding: 15px;
    background-color: black;
    color: #e0fbfc;
}

#scrollup:hover{
    cursor: pointer;
    background: #844933;
}

img{
    border-radius: 25px;
    max-width: 100%;

}