* {
    scroll-behavior: smooth;
}

body{
    background-color: #2A4646;
}

:any-link{
    text-decoration: none;
    cursor: pointer;
    color: #e0fbfc;
}

nav{
    display: flex;
    align-items: center;
    justify-content:center;
}

ul, li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    margin-right: 1em;
}

main{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    background-color: #d2c1ab;
    border-radius: 22px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e0fbfc;
}

/* Gallery */

#header1{
    width: 100%;
    text-align: center;
}

#containergallery{
    margin: 20px auto 50px auto;
    padding: 20px;
    border-radius: 20px;
}

#containergallery > #gallery{
    margin: 10px auto 10px auto; 
    padding: 20px; 
    width: 400px; 
    height: 400px;
    box-shadow: 0 0 20px #ba7d4f;
    overflow: hidden;
}

#gallery > div{
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 100px;
}

.images img{
    height: 100%;
    width: 100%;
}

/*Main Page*/

#main-page{
    justify-content: center;
    align-items: center;
}

#golden{
    width: 350px;
    height: 250px;
    border-radius: 20px;
}

#paragraph{
        max-width: 900px;
        padding: 10px;
        max-height: 160px;
        overflow: hidden;
        transition: max-height .9s;
        text-align: justify;
        margin-top: 20px;
}

#paragraph.open{
    max-height: 900px;
}

#paragraphButton{
        background: black;
        color: #e0fbfc;
        padding: 0.6rem;
        margin-top: 15px;
        border: none;
        border-radius: 4px;
}

#paragraphButton:hover{
    cursor: pointer;
    background: #844933;
}

#scrollup {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 25px;
    padding: 15px;
    background-color: black;
    color: #e0fbfc;
}

#scrollup:hover{
    cursor: pointer;
    background: #844933;
}

/* Contact Form */

#contact{
    font-weight: bold;
    text-align: center;
}

#contact-button{
    background: black;
    color: #e0fbfc;
    padding: 0.6rem;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
}

#contact-button:hover{
    cursor: pointer;
    background: #ee6c4d;
}

#bottommainpage{
    background-color: #b99984;
    padding: 20px 100px;
    margin-bottom: 18px;
    border-radius: 20px;
}

/* Login Form */

#submit-button{
    background: black;
    color: #e0fbfc;
    padding: 0.6rem;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
}

#submit-button:hover{
    cursor: pointer;
    background: #ee6c4d;
}

#Lform{
    display: flex;
    align-items: center;
    justify-content: center;
}

#login{
    background-color: #b99984;
    padding: 20px 100px;
    margin: 18px;
    border-radius: 20px;
}


/* Both forms */
label, input, #submit-button, #contact-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 200px;
    line-height: 26px;
    margin-bottom: 10px;
}