* {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(38,82,95);
}

:any-link{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

header{
    border-bottom: 1px solid;
}

nav{
    display: flex;
    align-items: center;
    justify-content:center;
}

ul, li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    margin-right: 1em;
}

main{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    background-color: rgb(230,220,203);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Gallery */

#header1{
    width: 100%;
    text-align: center;
}

#containergallery{
    background-color: lightgray;
    margin: 20px auto 50px auto;
    padding: 20px;
    border-radius: 20px;
}

#containergallery > #gallery{
    margin: 10px auto 10px auto; 
    padding: 20px; 
    width: 400px; 
    height: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    overflow: hidden;
}

#gallery > div{
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 100px;
}

.images img{
    height: 100%;
    width: 100%;
}

/*Main Page*/

#main-page{
    justify-content: center;
    align-items: center;
}

#golden{
    width: 350px;
    height: 250px;
    border-radius: 20px;
}

article{
        max-width: 900px;
        padding: 10px;
        max-height: 160px;
        overflow: hidden;
        transition: max-height .9s;
        text-align: justify;
        margin-top: 20px;
}

article.open{
    max-height: 900px;
}

#paragraphButton{
        background: black;
        color: white;
        padding: 0.6rem;
        margin-top: 15px;
        border: none;
        border-radius: 4px;
}

#paragraphButton:hover{
    cursor: pointer;
    background: rgb(38,82,95);
}

#contact{
    font-weight: bold;
}

#scrollup {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 25px;
    padding: 15px;
    background-color: black;
    color: white;
}

#scrollup:hover{
    cursor: pointer;
    background: rgb(38,82,95);
}